
body {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Lato', sans-serif;
  /*font-family: 'PT Serif', serif;*/
  font-size: 16px;
  background-color:#ffffff;
  padding-bottom:10px;
  margin:0px 0px 0px 0px;
}

.container-fluid{
    padding:0px 0px 0px 0px;
}
.container .jumbotron,
.container-fluid .jumbotron{
    background-color:gray;
    border-radius: 0px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 400px 0px;
    height:700px;

}

.idlogo{
    margin-left: 150%;
    margin-top:30px;
    height:70px;
    margin-bottom: 30px;
}


.navbar{
    margin-bottom: 0px;
    border:none;
}
.navbar .nav{
    height:80px;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom:50px;
}
.navbar-default{
    background-image:none;
    background-color:white;
    border-color:none;
    color:white;
    text-decoration: none;
    height:120px;
    box-shadow:none;
}

.navbar .nav>.active>a{
    background-image:none;
    background-color:transparent;
    text-shadow: none;
    box-shadow:none;
    color:#37bca6;
}
.navbar .nav>li{
    padding-top:0px;
    height:80px;
}

.navbar .nav>li>a{
    text-shadow: none;
    color:black;
    height:55px;
    padding-top:20px;
}

.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus,
.navbar .nav>.active>a:hover, 
.navbar .nav>.active>a:focus{
    background-image:none;
    background-color:#37bca6;
    color:white;
    text-shadow: none;
    box-shadow:none;
}

#selfintr{
    position:relative;
    margin-left:50%;
    padding-top:300px;
}
.jumbotron{
    background-image:url('../../img/portrait.png');
    color:white;
    background-size:cover;
    top:0;
    bottom:0;
    height:100%;
    margin-top:40px;
}

.jumbotron h2{
    font-size: 36px;
    font-family: 'OSWALD', serif;
    color:black;
    margin:0px 0px 0px 0px;
    font-weight:bold;
}

.jumbotron h4{
    font-size: 18px;
    font-family: 'Lato', serif;
    color:#9b9b9b;
    margin:0px 0px 0px 0px;
    font-weight:light;
    line-height:1.5;
}

h4{
    font-weight: lighter;
}

h3{
    font-size:18px;
    font-weight:normal;
}

h6{
    color:#4A4A4A;
    font-weight:lighter;
}


.jumbotron p{
    line-height: 1.5;
}

.titledivider{
    height:150px;
    padding-top:40px;
    padding-bottom: 40px;
    text-align: center;
}

.thumbnail{
    background-color: #ffffff;
    padding-left:10%;
    margin-top:8%;
    border:none;
    box-shadow: none;
    width:90%;
}

.thumbnail_left{
    margin-left:10%;
}

.thumbnail_right{
    margin-right:10%;
}

.thumbnail>img{
    max-height:330px;
}

.navbar-inverse{
    background-image: none;
    background-color: #f4eeee;
    height:30px;
}