
body {
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'PT Serif', serif;*/
  font-family: "Avenir",Avenir,Arial,sans-serif;
  font-size: 16px;
  

  background-color: #f4f7f8;
}

h1 {
   color:red; 
   /*margin-top:30px;
   margin-bottom: 10px;*/
   margin:30px 50px 50px 30px;
   padding-bottom: 10px;
  /* border: 10px dashed orangered;*/
  /*border-bottom: 10px;*/
}


p {
  /*  height : 3em;
    margin: 10px 10px 10px 20px;
    border: 10px dashed blue;
    overflow: auto;*/
}

li {
    color:red;
}

#example {
    margin: 50px;
    border: 20px dashed darkred;
    background-color: hotpink;
}

.navButton {
    padding-right: 20px;
}

#nameTop {
    width: 500px;
   /* float:left;*/
}

/*#navBar {
   position:absolute;
   Top:50px;
   Right:100px;
   background: red;
   font-family: 'Oswald', sans-serif;
   font-size:1.5em;
}*/

.col-xs-12{
    background-color: lightskyblue;
    color:black;
    border:2px solid black;
}

.col-sm-12{
    background-color: lightskyblue;
    color:black;
    border:2px solid black;
}


.col-xs-1{
    background-color: yellow;
    border: 2px solid black;
}


.col-xs-3{
    background-color: royalblue;
    border: 2px solid black;
}

.col-sm-1{
    background-color: yellow;
    border: 2px solid black;
}
.col-sm-3{
    background-color:green;
    height:200;
    border:2px solid black;
}

.col-sm-6{
    background-color:green;
    border:2px solid black;
}

.col-md-1{
    background-color:cornflowerblue;
    height:200;
    border:2px solid black;
}

.col-lg-12{
    background-color:rebeccapurple;
    height:200;
    border:2px solid black;
}

.col-md-4{
    background-color:yellowgreen;
    height:200;
    border:2px solid gray;
}

/*why active state setting doesn't work*/
.nav-item:active{   
   color: yellow;
}

.nav-item{
    color:black;
}

/*why margin-top or padding-top doesn't work?*/
.nav-link{   
   padding-top:20px;
   margin-top:30px;
   margin-left:20px;
   color: white;
 /*  float:right;*/
}

.navbar-nav{
    float:right;
}

.navHeader{
    background-color:darkslategrey;
    height:50px;
}

#space1{
    height:500px;
}

.pjThumbnail{
    height:300px;
}

.bigPicture{
    height:300px;
}

.spaceDivider{
    height:100px;
}

/*how to redefine the style of active item in list*/
li.active{
    background-color:pink;
}

/*change color does not work*/
.navbar-default{
    background-color:#f8f8f8;
}

.navbar{
    background-color:#f8f8f8;
}

